@import "../../styles/utils/variables"; //
@import "../../styles/utils/mixins"; //
@import "../../styles/utils/placeholders";

.Error {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 36px;

  &__message {
    @extend %h2;
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}
