@import "../../styles/utils/variables";
@import "../../styles/utils/mixins";
@import "../../styles/utils/placeholders";

.Promo {
  display: block;

  @include onTablet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__title {
    @extend %h1;
    margin-bottom: 24px;
    color: $gray-primary;

    @include onTablet {
      margin-bottom: 32px;
    }

    @include onDesktop {
      margin-bottom: 56px;
      align-self: flex-start;
    }
  }

  &__slider {
    margin-bottom: 16px;
    width: 100%;
  }
}
