@import "mixins";

%h1 {
  font-family: Mont-Bold, "Helvetica Neue", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: 41px;
  letter-spacing: -0.01em;

  @include onTablet {
    font-family: Mont-Bold, "Helvetica Neue", sans-serif;
    font-size: 48px;
    line-height: 56px;
    font-style: normal;
    font-weight: 800;
    letter-spacing: -0.01em;
  }
}

%h2 {
  font-family: Mont-Bold, "Helvetica Neue", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 800;
  line-height: 31px;

  @include onTablet {
    font-family: Mont-Bold, "Helvetica Neue", sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: 41px;
    letter-spacing: -0.01em;
  }
}

%h3 {
  font-family: Mont-SemiBold, "Helvetica Neue", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;

  @include onTablet {
    font-family: Mont-Bold, "Helvetica Neue", sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 800;
    line-height: 31px;
  }
}

%h4 {
  font-family: Mont-SemiBold, "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;

  @include onTablet {
    font-family: Mont-SemiBold, "Helvetica Neue", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: 26px;
  }
}

%uppercase {
  font-family: Mont-Bold, "Helvetica Neue", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 11px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

%buttons {
  font-family: Mont-SemiBold, "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 21px;
}

%body-text {
  font-family: Mont-Regular, "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px;
}

%small-text {
  font-family: Mont-SemiBold, "Helvetica Neue", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 15px;
}
